.header {
  background-color: #556B2F;
  color: #F0FFF0;
  text-align: center;
}

main {
  background-color: SlateGrey;
}

body {
 background-image: url(record.png);
 background-color: #FFF0F5;
 background-repeat: repeat;
}
